.content
  .content__main
    .content__main__text
      新着一覧
    .content__main__unit
      - @posts.each do |post|
        .content__main__unit__image
          = image_tag post.images[0].image.to_s
          %br= post.title
      = paginate @posts
        
        
          