header {
  height: 100px;
  width: 100vw;
  background-color: white;
  &__inner {
    height: 90px;
    width: calc(100vw - 420px);
    background-color: white;
    padding: 8px 210px;
    &__top {
      margin-top: 8px;
      &__logo {
      
      }
    }
  }
}

.header__list {
  align-items: right;
  position: relative;
}

ul {
  display: flex;
  list-style: none;
  
}

.header__list__right {
  position: absolute;
  right: 0;
}

.header__list__right__text {
  padding-right: 20px;
}



