header {
  height: 80px;
  width: 100vw;
  background-color: lightblue;
  position: fixed;
  z-index: 1;
  opacity: 0.8;
  .header-inner {
    position: relative;
    &__logo {
      font-family: fantasy;
      font-size: 40px;
      padding: 20px;
    }
    &__search {
      form {
        width: 100%;
        border-radius: 5px;
        display: flex;
        position: relative;
        position: absolute;
        top: 5px;
        left: 50px;
        #field {
          height: 40px;
          width: 600px;
          background-color: #EEEEEE;
          border-radius: 5px;
          padding-right: 40px;
          padding-left: 10px;
          position: absolute;
          margin-top: 20px;
          right: 450px;
        }
        .btn {
          position: absolute;
          top: 25px;
          right: 455px;
          background-color: #EEEEEE;
          height: 30px;
          width: 40px;
          font-size: 16px;
          border: solid 1px #ddd;
          border-left: none;
          border-radius: 5px;
        }
      }
    }
  }
}

.header-list {
  position: relative;
  &__right {
    display: flex;
    float: right;
    position: absolute;
    right: 20px;
    bottom: 10px;
  }
}

a {
  text-decoration: none;
}
.cont {
  overflow: hidden;
}


