header {
  height: 100px;
  width: 100vw;
  background-color: sienna;
  .header-inner {

    &__search {
      form {
        height: 40px;
        width: 100%;
        border-radius: 5px;
        display: flex;
        position: relative;
        #field {
          height: 40px;
          width: 800px;
          background-color: #EEEEEE;
          border-radius: 5px;
          padding-right: 40px;
          padding-left: 10px;
          position: absolute;
          margin-top: 20px;
          right: 430px;
        }
        .btn {
          position: absolute;
          top: 25px;
          right: 430px;
          background-color: #EEEEEE;
          height: 30px;
          width: 40px;
          font-size: 16px;
          border: solid 1px #ddd;
          border-left: none;
          border-radius: 5px;
        }
      }
    }
  }
}

.header-list {
  &__right {
    display: flex;
    float: right;
    padding-right: 20px;
    &__text {
      padding-right: 20px;
      padding-top: 10px;
      &__mypage {
        display: inline-block;
        border-radius: 5%;
        font-size: 12pt;
        text-align: center;
        cursor: pointer;
        padding: 10px 10px;
        background: #ffffff;
        color: black;
        line-height: 1em;
        transition: .3s;
        box-shadow: 6px 6px 3px #666666;
        border: 2px solid #ffffff;
      }
      &__mypage:hover {
        box-shadow: none;
        color: #ffffff;
        background: black;
      }
      &__post {
        display: inline-block;
        border-radius: 5%;
        font-size: 12pt;
        text-align: center;
        cursor: pointer;
        padding: 10px 10px;
        background: cyan;
        color: black;
        line-height: 1em;
        transition: .3s;
        box-shadow: 6px 6px 3px #666666;
        border: 2px solid cyan;
      }
      &__post:hover {
        box-shadow: none;
        color: cyan;
        background: black;
      }
      &__logout {
        display: inline-block;
        border-radius: 5%;
        font-size: 12pt;
        text-align: center;
        cursor: pointer;
        padding: 10px 10px;
        background: #990000;
        color: #ffffff;
        line-height: 1em;
        transition: .3s;
        box-shadow: 6px 6px 3px #666666;
        border: 2px solid #990000;
      }
      &__logout:hover {
        box-shadow: none;
        color: #990000;
        background: #ffffff;
      }
      &__signup {
        display: inline-block;
        border-radius: 5%;
        font-size: 12pt;
        text-align: center;
        cursor: pointer;
        padding: 10px 10px;
        background: #990000;
        color: #ffffff;
        line-height: 1em;
        transition: .3s;
        box-shadow: 6px 6px 3px #666666;
        border: 2px solid #990000;
      }
      &__signup:hover {
        box-shadow: none;
        color: #990000;
        background: #ffffff;
      }
      &__login {
        display: inline-block;
        border-radius: 5%;
        font-size: 12pt;
        text-align: center;
        cursor: pointer;
        padding: 10px 10px;
        background: #ffffff;
        color: black;
        line-height: 1em;
        transition: .3s;
        box-shadow: 6px 6px 3px #666666;
        border: 2px solid #ffffff;
      }
      &__login:hover {
        box-shadow: none;
        color: #ffffff;
        background: black;
      }
    }
  }
}

a {
  text-decoration: none;
}



