.messages {
  height: 500px;
  padding: 46px 40px;
  background-color: #fafafa;
  border: solid #434A54;
  overflow: scroll;
  .message {
    padding-bottom: 20px;
    &__upper {
      display: flex;
      margin-bottom: 10px;
      &__name {
        color: #434a54;
        font-size: 16px;
      }
      &__day {
        color: #999999;
        font-size: 12px;
        margin-left: 10px;
      }
    }
    &__lower {
      color: #434a54;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

.messages-main {
  background-color: #999999;
  
  &__wrapper {
    width: 600px;
    height: 100vh;
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    
  }
}


.submit {
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
  border: solid #434A54;
  box-sizing: border-box;
  &__input {
    display: flex;
    width: 100%;
    position: relative;
    &__text {
      height: 50px;
      width: calc(100% - 150px);
      padding: 0 25px 0 10px;
      color: #434A54;
      border-style: none;
      position: absolute;
      margin-right: 10px;
      .hidden {
        display: none;
      }
    }
    &__file {
      &__icon {
        font-size: 1.3rem;
        position: absolute;
        right: 128px;
        top: 15px;
        cursor: pointer;
      }
    }
    &__send {
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 30px;
      background-color: #38AEF0;
      color: white;
      position: absolute;
      right: 0px;
      cursor: pointer;
    }
  }
}


